<ion-header color="success">
  <ion-toolbar>
    <ion-buttons slot="start"
      ><ion-back-button defaultHref="/movies"></ion-back-button
    ></ion-buttons>
    <ion-title *ngIf="movie$ |async as item">{{item.original_title}}</ion-title>
    <ion-button id="open-modal" fill="clear" slot="end"
    ><ion-icon color="primary" name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<!-- menu modal -->
<ion-modal
  #modal
  trigger="open-modal"
  [initialBreakpoint]="0.25"
  [breakpoints]="[0, 0.25, 0.5, 0.75]"
>
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item button routerLink="/toprated">
          <ion-icon slot="start" name="happy-outline"></ion-icon>
          <ion-label> Ranking general</ion-label>
        </ion-item>
        <ion-item button routerLink="/ranking">
          <ion-icon slot="start" name="videocam-outline"></ion-icon>
          <ion-label> Ranking personal</ion-label>
        </ion-item>
        <ion-item button routerLink="/movies">
          <ion-icon slot="start" name="play-circle-outline"></ion-icon>
          <ion-label> Peliculas populares</ion-label>
        </ion-item>
        <ion-item button routerLink="/nowplaying">
          <ion-icon slot="start" name="play-circle-outline"></ion-icon>
          <ion-label> Peliculas en el cine</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-content>
  <ion-card *ngIf="movie$ | async as item">
    <ion-img lazy [src]="imgbaseUrl + '/w780' + item?.poster_path"></ion-img>
    <ion-fab horizontal="center" vertical="center">
      <ion-fab-button routerLink="/nowplaying/{{id}}/{{item.original_title}}">
        <ion-icon name="play-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-card-header>
      <ion-card-title>
        {{item.title}}
      </ion-card-title>
      <ion-card-subtitle> {{item.tagline}} </ion-card-subtitle>
      <ion-text>
        <span *ngFor="let genre of item.genres; let islast = last">
          {{genre.name}} {{!islast ? ' - ' : ''}}
        </span>
      </ion-text>
    </ion-card-header>

    <ion-card-content>
      <ion-label color="medium">{{item.overview}}</ion-label>

      <ion-item lines="none">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>{{item.release_date | date: 'yyyy/MM/dd'}}</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="cash-outline" slot="start"></ion-icon>
        <ion-label>{{item.budget | currency: 'EUR'}}</ion-label>
      </ion-item>
      <ion-list lines="full">
        <ion-item>
          <ion-label position="stacked">Nota Marc</ion-label>
          <ion-input type="number" [(ngModel)]="notaMarc"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Nota Maria</ion-label>
          <ion-input type="number" [(ngModel)]="notaMaria"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button expand="block" (click)="guardarNotas()">Guardar</ion-button>

    </ion-card-content>
  </ion-card>


</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="openHome()">Go Home</ion-button>
</ion-footer>
